<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
/>

<!-- Welcome Header -->
<div
  class="navbar is-lightyellow"
  style="justify-content: center; z-index: 1000; position: relative"
  *ngIf="displayWelcomeHeader"
>
  <div
    style="
      position: absolute;
      top: 10;
      margin-left: 95%;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    "
    (click)="handleHeaderRemove()"
  >
    x
  </div>

  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/Images/head_logo1.png" width="110" height="90" />
      <p
        style="
          margin-left: 30px;
          font-family: Georgia;
          font-style: italic;
          font-weight: bold;
          font-size: 35px;
          color: #3498db;
        "
      >
        <b><i>WELCOME TO INFY AIRLINES</i></b>
        <img
          src="assets/Images/head_logo2.png"
          style="margin-left: 30px"
          width="110"
          height="90"
        />
      </p>
    </a>
  </div>
</div>

<!-- Main Navbar -->
<nav
  class="navbar is-info"
  style="background-color: #0f67b0; box-shadow: 0px -3px 10px #717171"
>

  <!-- 🔥 SINGLE async usage -->
  <ng-container *ngIf="user$ | async as user">

    <div class="navbar-menu">
      <div class="navbar-start">

        <!-- Home -->
        <div class="navbar-item">
          <h3 routerLink="/" style="font-family: Georgia">
            <b>Home</b>
          </h3>
        </div>

        <!-- Book Flight -->
        <a
          *ngIf="user.length > 0 && !isAdmin(user[0])"
          class="navbar-item"
          routerLink="/flight-booking"
        >
          <b>Book Flight</b>
        </a>

        <!-- Flight Management -->
        <div
          *ngIf="user.length > 0 && !isAdmin(user[0])"
          class="navbar-item has-dropdown is-hoverable"
        >
          <a class="navbar-link"><b>Flight Management</b></a>

          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/flight-history">
              Flight History
            </a>
            <a class="navbar-item" routerLink="/flight-booking">
              Book Flight
            </a>
          </div>
        </div>

        <!-- Admin -->
        <a
          *ngIf="user.length > 0 && isAdmin(user[0])"
          class="navbar-item"
          routerLink="/admin"
        >
          <b>Admin Panel</b>
        </a>

        <!-- More -->
        <div
          *ngIf="user.length > 0 && !isAdmin(user[0])"
          class="navbar-item has-dropdown is-hoverable"
        >
          <a class="navbar-link"><b>More</b></a>

          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/aboutus">About</a>
            <a class="navbar-item" routerLink="/contactus">Contact</a>

            <div *ngIf="user.length > 0">
              <hr class="navbar-divider" />
              <a class="navbar-item" routerLink="/report-issue">
                Report an issue
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT SIDE -->
      <div class="navbar-end">

        <!-- Logged OUT -->
        <div *ngIf="user.length === 0" class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" routerLink="/signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-primary" routerLink="/login-page">
              <strong>Login</strong>
            </a>
          </div>
        </div>

        <!-- Logged IN -->
        <div *ngIf="user.length > 0" class="navbar-item">
          <div class="navbar-item has-dropdown is-hoverable">

            <a class="navbar-link">
              <span style="margin-right: 20px; font-weight: bold">
                Welcome, {{ user[0]?.name }}
              </span>

              <img
                src="../../../assets/img/profilePhoto.jpg"
                style="border-radius: 50%; width: 28px; height: 28px"
              />
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" routerLink="/account-settings">
                Account Settings
              </a>

              <a
                class="navbar-item"
                style="border-top: 1px solid #ddd"
                (click)="handleLogout()"
              >
                <strong>Logout</strong>
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>

  </ng-container>
</nav>